@import '~open-color/open-color';

$full: 100 * 1%;
$modal-z-index: 11;

@mixin flex(
  $height: 100%,
  $width: 100%,
  $align-items: center,
  $justify-content: center,
  $flex-direction: column
) {
  width: $width;
  height: $height;

  display: flex;

  align-items: $align-items;
  justify-content: $justify-content;

  flex-direction: $flex-direction;
}
