@import 'utils';

.wrapper {
  @include flex(100%, 10%);
  @include buttonBase();

  margin-top: auto;
  margin-bottom: auto;
}

.right {
  position: absolute;
  float: right;
  right: 0;
  top: 0;

  margin-top: auto;
  margin-right: 0.5em;
}

.close {
  color: $oc-gray-3;

  & svg {
    &:hover {
      color: $oc-gray-5;
    }
  }
}

.submit {
  & > input {
    @include flex(6vh, 100%);
    min-height: 24px;
    background: $oc-orange-2;
    color: white;

    cursor: pointer;

    border-radius: 0 0 0.7em 0.7em;

    border: none;

    &:hover {
      background: $oc-orange-3;
    }

    font-size: 1em;
  }
}

.floating {
  @include flex(40px, 40px);
  @include buttonBase(white, white);
  position: absolute;
  bottom: 3%;
  right: 3%;
  background: $oc-orange-2;

  z-index: $modal-z-index -2;

  transition-duration: 0.3s;

  &:hover {
    background: $oc-orange-3;
    transform: translateY(-3px);
  }
}

.circle {
  border-radius: 50%;
}

.hide-right {
  @include buttonBase();
  @include flex($full, 5%);
  position: absolute;

  top: 0;
  right: -50%;

  opacity: 0;
  transition-duration: 0.3s;

  & svg {
    width: 75%;
    height: 75%;
  }
}
