@import 'utils';

html,
body,
body > #root,
.wrapper {
  height: $full;
  width: $full;

  margin: 0;
  padding: 0;

  min-height: 300px;

  overflow-y: auto;
}

.header {
  @include flex(10%);

  min-height: 30px;
  font-size: 7vh;
}

.content {
  @include flex(90%, 100%, center, unset);
  & ul li {
    list-style-type: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: $full;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  width: 50px;
  background: #ffa94da1;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
