@import 'utils';

html,
body,
body > #root,
.wrapper {
  height: $full;
  width: $full;

  margin: 0;
  padding: 0;

  min-height: 300px;

  font-family: chosunilbomyungjo;
  color: $oc-gray-7;

  & input {
    font-family: chosunilbomyungjo;
  }

  overflow: hidden;
}

.wrapper {
  overflow: auto;
}

.header {
  @include flex(13vh);

  min-height: 60px;

  font-size: 2.4em;
  font-family: chosunilbomyungjo;
  text-transform: uppercase;
}

.content {
  @include flex(85vh, 100%, center, unset);
  & ul li {
    list-style-type: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: $full;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  width: 50px;
  background: #ffa94da1;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.vl {
  width: 3px;
  height: 100vh;

  position: absolute;

  background: black;

  top: 0%;
  left: 5%;

  background: $oc-gray-3;

  box-shadow: -6px 0px 20px 3px $oc-gray-3;
}

.right {
  right: 8%;
  left: auto;
  box-shadow: 6px 0px 20px 3px $oc-gray-3;
}
