@import 'utils';

.item {
  height: 11vh;
  width: 90%;

  min-height: 75px;

  background: white;

  cursor: move;

  border-top: 1px solid $oc-orange-2;
  border-bottom: 1px solid $oc-orange-2;
  transition-duration: 0.3s;
  text-align: center;
}

.header {
  @include flex(40%, $full, center, center, row);
  & > div {
    @include flex(auto, auto);
    align-self: stretch;
  }

  border-width: thin;

  border-bottom: 1px solid $oc-gray-2;
  .title {
    flex-grow: 4;
  }

  .endDate {
    flex-grow: 1;
    border-left: 1px solid $oc-gray-2;
  }

  font-size: 1.3em;
}

.contents {
  @include flex(60%, $full);
}

ul {
  @include flex(auto, 100%);
  margin: 16px auto;
  padding: 0;

  & li {
    @include flex(auto, 60vw);
    margin: 1px auto;

    position: relative;
    overflow: hidden;

    &:hover {
      .item {
        box-shadow: 0px 0px 10px 0px $oc-orange-2;
        border-left: 5px solid $oc-orange-4;
        transform: translateX(-5px);
      }

      & div:nth-last-child(1) {
        right: 0%;
        opacity: 1;
      }
    }
  }
}

.complete {
  color: $oc-gray-4;
  text-decoration: line-through;
}

.check {
  position: absolute;

  left: 0%;

  width: 3%;

  & > input {
    display: none;
  }

  & > label {
    @include buttonBase();
    width: 100%;

    display: flex;
  }
  & > input[type='checkbox'] + label > svg:nth-child(1) {
    display: flex;
  }
  & > input[type='checkbox'] + label > svg:nth-child(2) {
    display: none;
  }

  & > input[type='checkbox']:checked + label > svg:nth-child(1) {
    display: none;
  }
  & > input[type='checkbox']:checked + label > svg:nth-child(2) {
    display: flex;
  }
}
